body {
    height: 100%;
    margin: 0px;
    font-size: 18px;
    color: black;
    font-family: 'Arial', sans-serif;
}

.container {
    width: 100%;
}

.sideBar {
    position: fixed;
    box-sizing: content-box;
    padding-top: 20px;
    /*border-right: 3px solid black; */
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    height: 100%;
    background-color: #679289;
    color: white;
}

.avatar {
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: flex;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #17343A;

}

nav {
    width: 100%;
    padding-top: 20px;
}

nav ul {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.navItem {
    display: flex;
    list-style: none;
    padding-left: 5%;
    padding-top: 2px;
    padding-bottom: 2px;
    flex-direction: row;
    justify-content: space-between;
    color: #08353B;
    width: 95%;
    letter-spacing: 4px;
    font-weight: bold;
}

.navItem a {
    padding-right: 5%;
}

.navItemLink:hover {
    color: white;
}

.navItemLink:active{
    color: white;
}

.active {
    color: white;
}

.arrow {
    height: 22px;
    width: 22px;
}

.sub {
    float: right;
    padding-right: 5%;
}

.about {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.contact {
    margin-top: 50px;
}

.contact li {
    width: 50%;
    float: left;
}

.contactIcon {

    height: 40px;
}

.gallery {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    align-content: space-evenly;
}

.galleryRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.galleryItem {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #08353B;
    overflow: hidden;
}

.galleryItemImg {
    width: 100%;
    height: 100%;
}

/* animations */

.navHr {
    width: 60%;
    height: 0px;
    color: black;
    border: 1px solid #08353B;
    float: right;
    margin-right: 0px;
}

.contactHr {
    width: 50%;
    float: right;
    height: 0px;
    border: 1px solid #08353B;
}

.contact li {
    width: 95%;
}

.contact a {
    width: 70%;
}

.navItemContact {
    display: flex;
    list-style: none;
    padding-left: 5%;
    padding-top: 2px;
    margin-bottom: 10px;
    padding-bottom: 2px;
    flex-direction: row;
    color: #08353B;
    width: 95%;
    letter-spacing: 4px;
    font-weight: bold;
    align-content: center;
    align-items: center;
}

.navItemContact a {
    padding-right: 5%;
}

.navItemContact img {
    height: 40px;
    margin-right: 30px;
}

.navItemContact p {
    color: white;
    font-size: 15px;
    letter-spacing: normal;
    margin: 0px;
}

.navItemContact hr {
    color: #08353B;
}

.subheading {
    display: flex;
    justify-content: space-evenly !important;
    align-content: center;
}

.title h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.subheading h2 {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 15px;
    margin: 0px;
}

.left {
    width: 25%;
    border: 1px solid #08353B;
    height: 0px;
}

.right {
    width: 25%;
    border: 1px solid #08353B;
    height: 0px;
}