html {

}
body {

    margin: 0px;
    font-size: 18px;
    color: black;
    font-family: 'Arial', sans-serif;
}

.container {
    height: 100%;
    width: 100%;
}

.sideBar {
    position: fixed;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 20px;
    /*border-right: 3px solid black; */
    width: 375px;
    max-width: 375px;
    height: 100%;
    min-width: 375px;
    background-color: #679289;
    color: white;
}

.avatar {
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 50%;
    border: 2px solid #17343A;

}

nav {
    width: 100%;
    margin-top: 60px;
}

nav ul {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.navItem {
    display: flex;
    list-style: none;
    padding-left: 10% !important;
    padding-top: 2px;
    padding-bottom: 2px;
    flex-direction: row;
    justify-content: space-between;
    color: #08353B;
    width: 95%;
    letter-spacing: 5px;
    font-weight: bold;
}

.navItem a {
    padding-right: 5%;
    transition: all 250ms;
}

.navItemLink:hover {
    color: white;
}

.navItemLink:active{
    color: white;
}

.active {
    color: white;
}

.arrow {
    height: 22px;
    width: 22px;
}

.sub {
    padding-right: 5%;
}

.about {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
    text-align: left;
}

.contact {
    margin-top: 50px;
}

.contact li {
    width: 50%;
    float: left;
}

.contactIcon {

    height: 30px;
}

.hiddenItem {
    display: none;
}

.hidden {
    display: none;
}

.gallery {
    padding: 2%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 314px);
    grid-template-rows: auto;
    grid-column-gap: 2px;
    grid-row-gap: 2px;

}

.galleryContainer {
    justify-items: center;
    max-width: calc(100% - 375px);
    position: relative;
    box-sizing: border-box;
    left: 375px;

}

.galleryItem {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
    border: 2px solid #08353B;
    overflow: hidden;
}

.galleryItemImg:hover {
    opacity: 65%;
    transition-duration: 0.5s;
}

.galleryItemHidden {
    display: none;
}

.galleryItemImg {
    width: 100%;
    height: 100%;
}

.imgLink {
    width: 100%;
    height: 100%;
}

/* animations */

.navHr {
    width: 95%;
    height: 0px;
    color: black;
    border: 1px solid #08353B;
    float: right;
    margin-right: 0px;
}

.contactHr {
    width: 100%;
    float: right;
    height: 0px;
    border: 1px solid #08353B;
}

.contact li {
    width: 95%;
}

.contact a {
    white-space: nowrap;
}

.bottomContact {
    display: none;
}

#aboutMe {
    display: none;
}

#contactMe {
    display: none;
}

.small {
    padding: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.navItemContact {
    display: flex;
    list-style: none;
    padding-left: 10%;
    padding-top: 2px;
    margin-bottom: 5px;
    padding-bottom: 2px;
    flex-direction: row;
    color: #08353B;
    width: 95%;
    letter-spacing: 5px;
    font-weight: bold;
    align-content: center;
    align-items: center;
}

.navRowHidden {
    display: none;
}

.navItemContact a {
    padding-right: 5%;
}

.navItemContact img {
    height: 21px;
    margin-right: 20px;
    stroke-width: 5;
}

.navItemContact p {
    color: white;
    font-size: 15px;
    letter-spacing: normal;
    margin: 0px;
}

.navItemContactSmall img {
    height: 21px;
    margin-right: 20px;
    stroke-width: 5;
}

.navItemContactSmall p {
    color: white;
    font-size: 15px;
    letter-spacing: normal;
    margin: 0px;
}

.navItemContact hr {
    color: #08353B;
}

.subheading {
    display: flex;
    justify-content: space-between !important;
    align-content: center;
    letter-spacing: 2px;
    text-align: center;
}

.title h1 {
    white-space: nowrap;
    letter-spacing: 6px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.subheading h2 {
    letter-spacing: 4px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    margin: 0px;
    font-weight: normal;
    color: #08353B;
    white-space: nowrap;

}

.hiddenAbout {
    height: 600px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    display: none;
    
}

.hiddenAvatar {
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: flex;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #17343A;
}

.hiddenAboutText {
    color: #08353B;

}

.left {
    width: 100%;
    border: 1px solid #08353B;
    height: 0px;
}

.right {
    width: 100%;
    border: 1px solid #08353B;
    height: 0px;
}

.fancybox-thumbs__list {
    background-color: #679289;
    float: left;
}

.fancybox-thumbs {
    background-color: #679289 !important;
    float: left;

}
.fancybox-thumbs-y {
    background-color: #679289 !important;

}

.test {
    height: 600px;
    background-color: transparent;
}

.switcher {
    display: none;
}

.switchLink {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: underline;
    color: white;
}

.fancybox-extra {
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  /* Hide while zooming */
  .fancybox-is-scaling .fancybox-extra {
    display: none;
  }
  
  /* Push content up */
  .fancybox-slide--image {
    padding-bottom: 120px;
  }


  @media screen and (max-width: 1734px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, 260px);
    }

    .galleryItem {
        width: 250px;
        height: 250px;
    }
  }

  @media screen and (max-width: 1585px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, 260px);
    }

    .galleryContainer {
        max-width: calc(100% - 375px);
        max-height: calc(100% - 200px);
    }

    .galleryItem {
        width: 250px;
        height: 250px;
    }
    }
    @media screen and (max-width: 1504px) {
        .gallery {
            grid-template-columns: repeat(auto-fill, 210px);
        }
    
    
        .galleryItem {
            width: 200px;
            height: 200px;
        }
        }

  /* Media Queries: Tablet Landscape */
@media screen and (max-width: 1300px) {
    .sideBar {
        width: 375px;
    }

    .galleryContainer {
        max-width: calc(100% - 375px);
        max-height: calc(100% - 200px);
        left: 375px;
    }

    .gallery {
        grid-template-columns: repeat(auto-fill, 210px);
    }

    .galleryItem {
        width: 200px;
        height: 200px;
    }
}

/* Media Queries: Tabled Portrait */


@media screen and (max-width: 1054px) {
    .sideBar {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: 120px;
        padding: 0;
        padding-top: 5px;
    }

    nav {
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .navList {
        display: flex;
        flex-direction: row;
        text-align: center;
        padding-left: 2%;
        padding-right: 2%;
        width: 100%;
        box-sizing: border-box;
        justify-content: center;
    }

    .navItem {
        padding-left: 0%;
        text-align: center;
        white-space: nowrap;
        width: 200px;
        display: flex;
        justify-content: center;
        padding-left: 0% !important;

    }

    .navItemLink {
        width: 200px;
    }

    .navRow {
        display: flex;
        text-align: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    }

    .navRowHidden {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        
    }
    .navRowTop {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    #aboutMe {
        display: unset;
        text-align: center;
    }

    #contactMe {
        display: unset;
        text-align: center;
    }

    .sub {
        display: none;
    }

    .avatar {display: none;}
    .about {display: none;}
    .contact {display: none;}
    .navHr {display: none;}

    .gallery {
        height: 80% !important;
        width: 100%;
        margin-left: 0px;
        display: relative;
        top: 20%;
        grid-template-columns: repeat(auto-fill, 167px);
    }

    .galleryItem {
        width: 157px;
        height: 157px;
    }

    .galleryContainer {
        left: 0%;
        width: 100% !important;
        max-width: 100%;
        height: 80% !important;
        margin-right: 0px !important;
        position: relative !important;
        max-height: calc(100% - 200px);
    }

    .container {
    height: calc(100%+270px);
    }
    
    .bottomContact {
        display: flex;
        background-color: #679289 !important;
        width: 100%;
        box-sizing: border-box;
        height: 130px !important;
        flex-direction: column;
        justify-content: center;
        white-space: nowrap;
        
    }

    .heading {
        padding-left: 25px;
        padding-right: 25px;
        font-size: 18px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .navItemContact .left .right{
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .navItemContact {
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding-left: 0%;
    }

    .navItemContactSmall {
        display: flex;
        list-style: none;
        padding-top: 2px;
        margin-bottom: 5px;
        padding-bottom: 2px;
        flex-direction: row;
        color: #08353B;
        width: 239px;
        letter-spacing: 5px;
        font-weight: bold;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
    }

    .top {
    }

    .bottom {
    }

    .contactRow {
        display: grid;
        width: 100%;
        justify-items: center;
        justify-content: space-between;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: 2;
        grid-column-gap: 2px;
        grid-row-gap: 2px;
    }
}

@media screen and (max-width: 600px) {
    .navItem {
        width: 175px;
    }

    .navItemLink {
        font-size: 15px;
    }
}

@media screen and (max-width: 554px) {
    .gallery {
        justify-content: center;
    }
}

@media screen and (max-width: 525px) {
    .navItem {
        width: 150px;
    }

    .navItemLink {
        font-size: 12px;
        letter-spacing: 4px;
    }
}

@media screen and (max-width: 450px) {
    .navItem {
        width: 125px;
    }

    .navItemLink {
        font-size: 12px;
        letter-spacing: 2px;
    }
}